{% extends 'base.html' %}

{% block title %}Пароль для доступа{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card border-success mb-3 shadow-lg d-flex flex-column align-items-center">
            <div class="card-body w-100">
                <h1 class="text-center text-success">Введите пароль для доступа к тексту</h1>
                <form method="post" class="mt-4 w-100 d-flex flex-column align-items-center">
                    {% csrf_token %}
                    <div class="mb-3 w-100">
                        <label for="{{ form.password.id_for_label }}" class="form-label text-success">Пароль</label>
                        <div class="input-group w-100">
                            {{ form.password }}
                        </div>
                        <small class="form-text text-muted">Введите пароль для доступа к тексту.</small>
                    </div>
                    <div class="text-center w-100">
                        <button type="submit" class="btn btn-success btn-lg gradient-btn">Подтвердить</button>
                    </div>
                </form>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3 w-100">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
